// Base Styles
* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    var(--font-inter),
    system-ui,
    -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

// Typography
@layer base {
  h1 {
    @apply text-4xl font-bold tracking-tight lg:text-5xl;
  }

  h2 {
    @apply text-3xl font-semibold tracking-tight lg:text-4xl;
  }

  h3 {
    @apply text-2xl font-semibold tracking-tight lg:text-3xl;
  }

  h4 {
    @apply text-xl font-semibold tracking-tight lg:text-2xl;
  }

  h5 {
    @apply text-lg font-semibold tracking-tight lg:text-xl;
  }

  h6 {
    @apply text-base font-semibold tracking-tight lg:text-lg;
  }
}
